@import "../bower_components/bootstrap-less/less/grid.less";
@import "../bower_components/bootstrap-less/less/variables.less";
@import "../bower_components/bootstrap-less/less/mixins.less";
@import "../bower_components/bootstrap-less/less/normalize.less";
// @import "print.less";
@import "../bower_components/bootstrap-less/less/glyphicons.less";

@bgcolor:#002240;
@fontcolor:#ccc;

[data-is-editing='1']{
	font-style:italic;font-size:110%;
	&[data-action='editname']{color:#fc0 !important;}
}
*{box-sizing: border-box;outline:none}
.clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

body {
	font:12px "Microsoft YaHei",Verdana;
	// padding-top:40px;
	background:@bgcolor;
	color:@fontcolor;
	padding-top: 40px;
  h1 {
      color: red;
  }
  .container{
  	width:100%;
  }

}
nav.header{
	position:absolute;width:100%;top:0;height:40px;border-bottom:1px solid #999;background-color:rgba(255,255,255,.1);z-index:100;
	button{
		margin:10px;color:inherit;background-color:transparent;border:1px solid transparent;border-radius:4px;
		&:hover{
			border:1px solid #eee;color:#fff;
		}
	}
	.error{color:#f00;}
}

.sidebar{
	position:relative;
	padding:0;
	background-color:#ddd;
	height:100%;
	z-index: 999;
	transition:transform .5s ease-out;
	// overflow-y:scroll;
	// min-width:240px;
	// border-right:2px solid #666;
	.header{
		line-height:20px;
		text-align:left;
		padding: 4px 0;
		text-indent:8px;
		background-color:rgba(0,0,0,.1);
		color:#333;
		font-weight:bold;
		font-size:110%;
	}
	.sidecontrol{
		height:100%;background:#666;color:#fff;font-size:8px;position:absolute;width:6px;right:0;border:1px solid #333;box-shadow:5px 0 10px #222;cursor:pointer;
		border-top:none;
		border-bottom:none;
		.close{top:50%;position:absolute;left:-2px;}
		.open{display:none;top:50%;margin-top:-60px;position:absolute;left:-2px;padding-left:6px;opacity:.5;transition:all 1s;z-index:999;}
		.open:hover{opacity:1;}
	}
	.sidecontent{
		height:100%;
		.filelist ul{
			list-style:none;
			margin:0 6px 0 0;
			padding:0;
			position:relative;
			height:90%;
			overflow-y:scroll;
			li{
				padding:5px 5px;position:relative;color:#333;background-color:#eee;
				&:nth-child(odd){background-color:#e6e6e6;}
			}
			.active{background:linear-gradient(to top, #666 0%,#999 90%);border:1px solid #999;border-left:none;border-right:none;color:#fff;text-shadow:0 0 4px #333;}
			.name{
				padding:0;text-indent:5px;
				.glyphicon{margin-left: -10px;position:absolute;top:8px;color:#EA9793;border-radius:10px;}
				[data-action='editname']{color:#333;text-decoration:none;text-indent:20px;padding-left:14px;}
				&.editable{font-style:italic;}
			}
			.date{font-size:8px;color:#999;text-shadow:none;padding-top:4px;text-indent:20px;}
			.icons{text-align:right;padding:0;}
			.active{
				[data-action='editname']{color:inherit;}
				.date{color:#ddd;}
				.btn{background-color:#eee;}
			}
			.active [data-action='editname']{color:inherit;}
			.glyphicon{color:#333;/*background-color:#fff;border-radius:2px;*/text-shadow:none;cursor:pointer;margin-right:4px;font-size:120%;}
			.btn{
				width:100%;font-size:80%;border-radius:4px;color:#333;border:none;background-color:#ccc;/*background-color:#ccc;*/padding:1px 4px;margin-top:4px;text-align:left;
				&:first-child{margin-top:0;}
			}
			.btn:hover{background-color:#fff;}
		}
	}
}

.editnamebox{background:transparent;border:none;position:absolute;z-index:999;left:18px;font-style:italic;opacity:.9}
.content{
	padding:0;
	.code{min-height:600px;height:100%;}
}




/***************************************************
****************************************************
MOBILE TARGETING
****************************************************
***************************************************/
@media only screen and (max-device-width: 480px) {
	/* Part one of controlling phone number linking for mobile. */
	a[href^="tel"], a[href^="sms"] {
		text-decoration: none;
		color: blue; /* or whatever your want */
		pointer-events: none;
		cursor: default;
	}
	.mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
		text-decoration: default;
		color: orange !important;
		pointer-events: auto;
		cursor: default;
	}
}
/* More Specific Targeting */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
/* You guessed it, ipad (tablets, smaller screens, etc) */
	/* repeating for the ipad */
	a[href^="tel"], a[href^="sms"] {
		text-decoration: none;
		color: blue; /* or whatever your want */
		pointer-events: none;
		cursor: default;
	}
	.mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
		text-decoration: default;
		color: orange !important;
		pointer-events: auto;
		cursor: default;
	}
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),handheld {
/* Put your iPhone 4g styles in here */
	.sidebar{display:none;}
}
/* Android targeting */
@media only screen and (-webkit-device-pixel-ratio:.75){
/* Put CSS for low density (ldpi) Android layouts in here */
	.sidebar{display:block;}
	
}
@media only screen and (-webkit-device-pixel-ratio:1){
/* Put CSS for medium density (mdpi) Android layouts in here */
}
@media only screen and (-webkit-device-pixel-ratio:1.5){
/* Put CSS for high density (hdpi) Android layouts in here */
}
/* end Android targeting */



// ::-webkit-scrollbar{width:6px;height:6px;background-color:#fff;}
// ::-webkit-scrollbar:hover{background-color:#eee;}
// ::-webkit-scrollbar-thumb{min-height:5px;min-width:5px;-webkit-border-radius:20px;border:1px solid#888;::-webkit-border-radius:1px;background-color: #AAA;}
// ::-webkit-scrollbar-thumb:hover{min-height:5px;min-width:5px;-webkit-border-radius:20px;border:1px solid#444;background-color: #AAA;}
// ::-webkit-scrollbar-thumb:active{-webkit-border-radius:20px;border:1px solid#444;background-color:#AAA;} 
